.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    color: green;
    font-size: 34px !important;
}
.navbar{
    height: 100px;
}
a{
    font-weight: 800;
}

header{
text-align: center;
    font-size: 14px;
    padding: 5px;
}

.btn-yes{
    padding: 4px !important;
}
button{
    font-size: 14px !important;
}

.sr-only{
    text-decoration: underline;
}
.s{
    color: #fdd932 !important;
}
.g{
    color: green !important;
}
.active{
    text-decoration: underline;
}
.nav-link:hover{
    text-decoration: underline !important;
}